@charset "UTF-8";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: "transparent";
}

li {
	height: 55px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
	cursor: url('knife.ico'), default;
	background: #050201;
	background: -moz-linear-gradient(left, #050201 0%, #7D8BA4 50%, #4F4F4F 100%);
	background: -webkit-linear-gradient(left, #050201 0%, #7D8BA4 50%, #4F4F4F 100%);
	background: linear-gradient(to right, #050201 0%, #7D8BA4 50%, #4F4F4F 100%);
	font-family:"Helvetica";	
	color:#FFF;
	text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

a:hover {
	background-color:#9a9a9a;
}

/*font for anything in table*/
div.navBarFont {
	font-family:"Helvetica";
	color:#FFF;
	text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
table {
	cursor: url('knife.ico'), default;
	font-family:"Helvetica";
	color:#FFF;
	text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
p{
	cursor: url('knife.ico'), default;
	font-family:"Helvetica";
	font-size:20px;
}

#searchBarText {
	color: rgb(255, 255, 255);
	text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px, rgb(255, 45, 149) 0px 0px 20px, rgb(255, 45, 149) 0px 0px 30px, rgb(255, 45, 149) 0px 0px 40px, rgb(255, 45, 149) 0px 0px 50px, rgb(255, 45, 149) 0px 0px 75px;
}


#instructorBarText {
	color: #FFF;
	text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

div.bounce {
 font-size:20px;
 font-weight:bold;
 color:#4794D3;
/*  width:100px;
 margin:10px auto; */

 -webkit-animation: jump 1.5s ease 0s normal ;
 animation: jump 1.5s ease 0s normal;
 animation-iteration-count: 4;
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

img {
	border-radius: 50%;
}

img:hover {
	-webkit-filter: saturate(7); 
	filter: saturate(7);
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

td:hover {
	font-size:21px;
	text-shadow: rgb(255, 255, 255) 0px 0px 5px, 
	rgb(255, 255, 255) 0px 0px 10px, 
	rgb(255, 255, 255) 0px 0px 15px, 
	rgb(255, 45, 149) 0px 0px 20px, 
	rgb(255, 45, 149) 0px 0px 30px, 
	rgb(255, 45, 149) 0px 0px 40px, 
	rgb(255, 45, 149) 0px 0px 50px, 
	rgb(255, 45, 149) 0px 0px 75px;
	color: rgb(255, 255, 255);
	
}

